<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @purchase.count %>
</p>

<p>
  <strong>Purchaser:</strong>
  <%= @purchase.purchaser %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase.item %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @purchase.merchant %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
