<%= form_with(model: sale, remote: true, url: { action: :import_file_table}) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_table %>
    <%= form.file_field :file_table %>
  </div>
  <div class="actions">
    <%= form.submit %>
    <br>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
<% end %>
